.html, body {
    margin: 0;
    padding: 0;
}


.header {
    background: #2C2C2C;
    position: relative;
}

.green {
    border: 3px solid green;  
}

.header ul {
    display: none; 
}

.header input:checked + ul {
    display: block;
}

.blue {
    border: 3px solid blue;
    position: relative;
}

.logo {
    width: 50%;
    right: auto;
}

.yellow {
    border: 3px solid yellow;
    min-height: 50px;
}

.menu { 
    position: absolute;
    top: 0;
    right: 0;
}

.article1 {
    
}

.text1 {
    font-family: "Poppins", sans-serif;
    color: white;
}

.text2 {
    font-family: "Poppins", sans-serif;
    color: white;
}

.button1 {
    border: 1px solid #37EBED;
    background-color: #37EBED;
    padding: 15px 32px; 
    text-align: center; 
    text-decoration: none; 
    display: inline-block; 
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 8px;
    transition: background-color 0.3s, border-radius 0.45s;
    font-family: "Poppins", sans-serif;
    color: white;
}

.image-section {
    text-align: center;
    padding-top: 50px;
}

.image1 {
    max-width: 80%;
    max-height: 80%;
}

.section-1 {
    background-image: url('../images/banner/banner.png'); 
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    position: relative;
}

.section-2 {
    background-color: black;
    position: relative;
}

.text3 {
    font-family: "Poppins", sans-serif; 
    color: black;
    display: flex;
    justify-content: center; /* Wyśrodkowanie poziome */
    align-items: center; /* Wyśrodkowanie pionowe */
}
.image2 {

    color: black;
    filter: invert(42%) sepia(93%) saturate(1352%) hue-rotate(87deg) brightness(119%) contrast(119%);
}


.text4 {
    font-family: "Poppins", sans-serif; 
    color: black;
    display: flex;
    justify-content: center; /* Wyśrodkowanie poziome */
    align-items: center; /* Wyśrodkowanie pionowe */
    border: 1px solid black; 
    
}


.text5 {
    font-family: "Poppins", sans-serif; 
    color: black;
    display: flex;
    justify-content: center; /* Wyśrodkowanie poziome */
    align-items: center; /* Wyśrodkowanie pionowe */
    border: 1px solid black; 
}

.section-3 {
    background-color: white;
    position: relative;
}

.text6 {
    font-family: "Poppins", sans-serif; 
    color: black;
    display: flex;
    justify-content: center; /* Wyśrodkowanie poziome */
    align-items: center; /* Wyśrodkowanie pionowe */
    border: 1px solid black; 
}


.text7 {
    font-family: "Poppins", sans-serif; 
    font-size: 50px;
    color: hsl(0, 0%, 35%);

}

.text8 {
    font-family: "Poppins", sans-serif; 
    font-size: 15px;
    color: hsl(0, 0%, 35%);
}

.button2 {
    border: 1px solid #0181F5;
    background-color: #0181F5;
    padding: 15px 32px; 
    text-align: center; 
    text-decoration: none; 
    display: inline-block; 
    font-size: 16px; 
    margin: 4px 2px; 
    cursor: pointer; 
    border-radius: 8px; 
    transition: background-color 0.3s, border-radius 0.45s;
    font-family: "Poppins", sans-serif;
    color: white;
}

.section4 {
    position: relative;
}

.image5 {
    
}


.text7, .text8, .button2 {
    position: relative;
}