.html,
body {
    margin: 0;
    padding: 0;
}

.header {
    background: #2c2c2c;
    position: relative;
}

.header ul {
    display: none;
}

.header input:checked + ul {
  display: block;
}

.logo {
  width: 50%;
  right: auto;
  margin: 0;
}


.menu {
  position: absolute;
  top: 0;
  right: 0;
}

.article1 {
}

.text1 {
  font-family: "Poppins", sans-serif;
  color: white;
  font-size: xx-large
}

.text2 {
  font-family: "Poppins", sans-serif;
  color: white;
}

.button1 {
  border: 1px solid #37ebed;
  background-color: #37ebed;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 8px;
  transition: background-color 0.3s, border-radius 0.45s;
  font-family: "Poppins", sans-serif;
  color: white;
}

.image-section {
  text-align: center;
  padding-top: 50px;
}

.image1 {
  max-width: 80%;
  max-height: 80%;
}

.background {
    background-image: url("../images/banner/banner.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom center; 
}

.section-1 {
  position: relative;
}

.section-2 {
  background-color: white;
  position: relative;
}

.text3 {
  font-family: "Poppins", sans-serif;
  color: black;
  display: flex;
  justify-content: center; /* Wyśrodkowanie poziome */
  align-items: center; /* Wyśrodkowanie pionowe */
}
.image2,
.image3,
.image4 {
  background-color: #128af7;
  border: 2px solid #128af7;
  padding: 10px;
  border-radius: 5px;
  /*filter: invert(42%) sepia(93%) saturate(1352%) hue-rotate(87deg) brightness(119%) contrast(119%);*/
}

.image3 {
  background-color: #fda05d;
  border: 2px solid #fda05d;
}

.image4 {
  background-color: #37ef8d;
  border: 2px solid #37ef8d;
}
.text4 {
  font-family: "Poppins", sans-serif;
  color: black;
  display: flex;
  justify-content: center; /* Wyśrodkowanie poziome */
  align-items: center; /* Wyśrodkowanie pionowe */
}

.text5 {
  font-family: "Poppins", sans-serif;
  color: black;
  display: flex;
  justify-content: center; /* Wyśrodkowanie poziome */
  align-items: center; /* Wyśrodkowanie pionowe */
}

.secion-3 {
    text-align: center;
}

.section-3 {
  background-color: white;
  position: relative;
}

.text6 {
  font-family: "Poppins", sans-serif;
  color: black;
  display: flex;
  justify-content: center; /* Wyśrodkowanie poziome */
  align-items: center; /* Wyśrodkowanie pionowe */
}

.text7 {
  font-family: "Poppins", sans-serif;
  font-size: 50px;
  color: hsl(0, 0%, 35%);
}

.text8 {
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  color: hsl(0, 0%, 35%);
}

.button2 {
  border: 1px solid #0181f5;
  background-color: #0181f5;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 8px;
  transition: background-color 0.3s, border-radius 0.45s;
  font-family: "Poppins", sans-serif;
  color: white;
}

.section4 {
  position: relative;
}

.image5 {
  max-width: 100%;
}

.text7,
.text8,
.button2 {
  position: relative;
}

.section-6 {
  background-image: url("../images/banner/testmonial.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.section-6 {
  position: relative;
  width: 100%;
  color: white;
  text-align: center;
  overflow: hidden;
}

.section-6:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("images/your-image.jpg"); /* Zamień na swoją ścieżkę do obrazu */
  background-size: cover;
  background-position: center;
  filter: brightness(50%); /* Opcjonalne: przyciemnia obrazek */
}

.section-6::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(18, 138, 247, 0.6); /* Niebieski overlay */
}

.overlay-content {
  position: relative;
  z-index: 1;
  font-family: "Poppins", sans-serif;
}

.review {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5em;
}

.unlock-power-text {
  font-family: "Poppins", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5em;
}

.lorem-ipsum {
  font-family: "Poppins", sans-serif;
  text-align: center;
  font-size: 0.8em;
  color: #A4948B;
}

.pricing-header {
    display: flex;
    justify-content: space-between;
    border: 1px solid #E9F4FE;
    background-color: #E9F4FE;
}

.pricing-type-name {
    font-family: "Poppins", sans-serif;
}

.buttonGetNow {
    min-width: 100px;
    font-size: 16px; 
    color: #a0c4ff; 
    background-color: transparent;
    border: 2px solid #a0c4ff; 
    border-radius: 5px; 
    padding: 10px 20px;
    cursor: pointer;
    text-align: center; 
    transition: background-color 0.3s, color 0.3s; 
    display: flex;
    justify-content: center;
    max-width: 10%;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
}

.pricing-plan, .pricing-plan2, .pricing-plan3 {
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
}

.pricing-header {
    align-items: flex-start; /* Wyłączenie wyśrodkowania dla pricing-header */
    width: 100%; /* Rozciągnięcie headera na całą szerokość */
    text-align: left; /* Wyrównanie tekstu do lewej */
}

.pricing-header .pricing-type-name {
    align-self: flex-start; /* Wyłączenie wyśrodkowania dla pricing-type-name */
    width: auto; 
    text-align: left; /* Wyrównanie tekstu do lewej */
}

.list-item {
    padding: 10px 0;
    font-family: "Poppins", sans-serif;
    color: #A4948B;
    font-weight: 400;
}     

.list-pricing {

}

.pricing-plan, .pricing-plan2, .pricing-plan3 {
    background-color: white; /* Ustawienie tła */
    border: 1px solid white; /* Ustawienie obramowania */
    border-radius: 10px; /* Zaokrąglone rogi */
    padding: 20px; /* Padding wewnętrzny */
    margin: 20px; /* Margines zewnętrzny */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Dodanie cienia */
    text-align: center; /* Wyśrodkowanie tekstu */
}

.productivity {
    text-align: center;
    background-color: #5DB2FF;
    padding: 50px 0;
}

.productivity-text {
    color: white;
    font-family: "Poppins", sans-serif;
}

.footer {
    background-color: #000000;
    color: white;
    font-weight: normal;
    font-family: "Poppins", sans-serif;
    text-align: center;
}

.footer-nav{
    background-color: #1F1F1F;
}

.applab {
    color: #A7B0A4;
}

.applab {
  font-family: "Poppins", sans-serif;
}

.team-social {
  filter: invert(90%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(95%) contrast(95%);
}